:root {
    /* Colors */
    --color-primary: #101010;
    --color-background: #ffffff;
    --color-text: #101010;
    --color-text-light: #ffffff;
    --color-shadow: rgba(0, 0, 0, 0.2);

    /* Fonts */
    --font-family: 'Playfair Display', serif;

    /* Font sizes */
    --font-size-header: 70px;
    --font-size-base: 16px;
    --font-size-nav: 21px;

    /* Layout */
  --navbar-height: 90px; /* try 80–100px */
  --border-radius: 10px;
  --transition-speed: 0.3s;

}
/* Navbar Links Styling */

.navbar-nav .nav-link,
.navbar-nav .nav-link:visited,
.navbar-nav .nav-link:focus {
    color: var(--color-text) !important;
    font-family: var(--font-family);
    font-size: var(--font-size-nav);
    transition: var(--transition-speed);
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    color: #ff6b6b !important;
}
