body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

.introduction-content {
    margin-top: -30px;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 900px;
    padding: 0 20px;
    color: var(--color-text-light);
    font-family: var(--font-family);
    overflow: hidden;
    text-align: center;
    display: block;
}

/* Optional Background Image */
.introduction-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/static/images/homepage_background.jpeg');
    background-size: 106%;
    background-position: center;
    background-repeat: no-repeat;
}

.introduction-header {
    color: var(--color-text);
    font-size: var(--font-size-header);
    line-height: 1.2;
    font-weight: 300;
    border-bottom: 2px solid var(--color-primary);
    width: 80%;
    padding-bottom: 10px;
    margin-top: -20px;
}

.introduction-header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 225px;
}

.introduction-body {
    position: relative;
    padding: 20px;
    color: var(--color-text);
    text-align: center;
}

.get-started-btn {
    width: 225px;
    background-color: var(--color-primary);
    border: none;
    transition: transform var(--transition-speed) cubic-bezier(0.25, 1, 0.5, 1);
    color: var(--color-text-light);
}

.get-started-btn:hover {
    background-color: var(--color-primary);
    transform: scale(1.1);
    transition: transform var(--transition-speed) cubic-bezier(0.25, 1, 0.5, 1);
}

.get-started-btn:focus,
.get-started-btn:active {
    background-color: var(--color-primary) !important;
    color: var(--color-text-light) !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active {
    background-color: var(--color-primary) !important;
    color: var(--color-text-light) !important;
    border-color: var(--color-primary) !important;
}
