# Environment
.env

# Virtual environments
venv/
.venv/

# Database
db.sqlite3

# Python cache
__pycache__/
*.pyc
*.pyo

# Logs
logs/*.log

# Collected static files
staticfiles/

# Docker volumes
postgres_data/
es_data/

__pycache__/
*.pyc
db.sqlite3