name: Python Lint
on: [pull_request]
permissions:
  contents: read

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Ruff
        uses: astral-sh/ruff-action@v3
        with:
          args: "check" # Checks for logic errors
      - name: Run Ruff Format
        uses: astral-sh/ruff-action@v3
        with:
          args: "format --check" # Checks for style/pretty code